<script setup>
const route = useRoute()
const message = computed(
  () =>
    `Page for the ${route.params.teamSlug} team and user id is
    ${route.params.userId}.`
)
</script>

<template>
  <p>{{ message }}</p>
</template>

<style scoped></style>
