<template>
  <header
    class="sticky top-0 z-50 flex justify-between items-center space-x-1 border-b bg-white p-4 shadow-md"
  >
    <NuxtLink class="text-3xl font-mono" to="/">cartrader</NuxtLink>

    <div v-if="user" class="flex">
      <NuxtLink to="/profile/listings" class="mr-5">{{ user.email }}</NuxtLink>
      <p class="cursor-pointer" @click="logout">Logout</p>
    </div>
    <div v-else class="flex">
      <NuxtLink to="/register" class="me-3">Register</NuxtLink>
      <NuxtLink to="/login">Login</NuxtLink>
    </div>
  </header>
</template>

<script setup>
const user = useSupabaseUser();
const supabase = useSupabaseClient();

const logout = () => {
  const { error } = supabase.auth.signOut();
  if (error) console.error(error);
  navigateTo('/');
};
</script>

<style scoped></style>
