<script setup>
useHead({
  titleTemplate: titleChunk => {
    return titleChunk ? `${titleChunk} | My movie site` : 'My movie site'
  },
})
</script>

<template>
  <div>
    <NuxtLayout>
      <!-- <NuxtWelcome /> -->
      <!-- Yo. -->
      <NuxtPage />
    </NuxtLayout>
  </div>
</template>
