<template>
  <a :href="to" :rel="rel" target="_blank" v-bind="$attrs">
    <slot></slot>
  </a>
</template>

<script>
export default {
  name: 'ExternalLink',
  props: {
    to: {
      type: String,
      required: true,
    },
  },
  computed: {
    rel() {
      if (this.to.includes('harka.com')) return ''
      else return 'noopener noreferrer nofollow'
    },
  },
}
</script>
