<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:," />
    <meta name="description" content="" />
    <title>Vue test</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{message}}</h1>
      <button @click="clickMe">Click me.</button>
    </div>

    <script>
      const app = Vue.createApp({
        data() {
          return {
            message: 'Hey.',
          }
        },
        methods: {
          clickMe() {
            this.message = 'Clicked.'
          },
        },
      })
      app.mount('#app')
    </script>
  </body>
</html>
