<script setup>
const user = useUser()
</script>

<template>
  <div>
    <nav style="display: flex; gap: 10px; justify-content: center">
      <br /><br />
      <NuxtLink to="/">Home</NuxtLink>
      <NuxtLink to="/movies">Movies</NuxtLink>
      <NuxtLink v-if="!user.isLoggedIn" to="/login">Login</NuxtLink>
      <a v-else href="/" @click.prevent="user.isLoggedIn = false">Logout</a>
      <ExternalLink to="https://harka.com">harka.com</ExternalLink>
      <ExternalLink to="https://google.com">google.com</ExternalLink>
    </nav>
    <slot />
  </div>
</template>

<style scoped></style>
