<script setup>
const query = ref('matrix')
const movies = ref([])
const search = async () => {
  const { Search } = await $fetch(
    `https://www.omdbapi.com/?apikey=1f5aa47b&s=${query.value}`
  )
  movies.value = Search
}
search()
</script>

<template>
  <form @submit.prevent="search">
    <input type="text" v-model="query" />
    <button>Search</button>
  </form>
  <ul style="display: flex; flex-wrap: wrap; gap: 10px; list-style: none">
    <li v-for="movie in movies" :key="movie.imdbID">
      <NuxtLink :to="{ name: 'movies-id', params: { id: movie.imdbID } }">
        <NuxtImg
          :src="movie.Poster"
          :alt="movie.title"
          width="100"
          loading="lazy"
        />
      </NuxtLink>
    </li>
  </ul>
</template>
