<template>
  <div
    class="font-serif w-[1000px] m-auto text-2xl bg-white flex flex-col items-center justify-center align-center mt-20"
  >
    <form class="w-full max-w-lg text-center" @submit.prevent="handleLogin">
      <input
        class="my-4 py-3 px-5 w-full text-2xl rounded-full drop-shadow-2xl focus:outline-none"
        type="email"
        placeholder="Email"
        v-model="email"
      />
      <input
        class="my-4 py-3 px-5 w-full text-2xl rounded-full drop-shadow-2xl focus:outline-none"
        type="password"
        placeholder="Password"
        v-model="password"
      />
      <button
        type="submit"
        class="my-4 bg-sky-500 px-10 py-3 text-white rounded-full drop-shadow-2xl"
        :class="loading ? 'opacity-50 cursor-not-allowed' : ''"
        :disabled="loading"
      >
        {{ loading ? 'Loading' : 'Log In' }}
      </button>
    </form>
    <div class="error-message" v-if="errorMessage">{{ errorMessage }}</div>
    <div class="success-message" v-if="successMessage">
      {{ successMessage }}
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';

const client = useSupabaseClient();
const email = ref('');
const password = ref('');
const errorMessage = ref('');
const successMessage = ref('');
const loading = ref(false);
const router = useRouter();

const handleLogin = async () => {
  try {
    loading.value = true;
    const { error } = await client.auth.signInWithPassword({
      email: email.value,
      password: password.value,
    });
    if (error) throw error;
    router.push('/profile/listings');
  } catch (error) {
    errorMessage.value = `${error.message}!`;
  } finally {
    loading.value = false;
  }
};
</script>

<style scoped>
.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}
</style>
