<template>
  <div class="flex flex-col w-[48%] mt-2">
    <label class="text-cyan-500 mb-1 text-sm">{{ title }}</label>
    <select
      class="select p-2 border w-100 rounded"
      @change="onChange"
      v-model="state"
    >
      <option v-for="option in options" :key="option.id" :value="option">
        {{ option }}
      </option>
    </select>
  </div>
</template>

<script setup>
const props = defineProps({
  title: String,
  name: String,
  options: Array,
});

const emits = defineEmits(['changeInput']);
const state = ref('');

const onChange = () => {
  emits('changeInput', state.value, props.name);
};

const inputs = [
  { id: 1, title: 'Model *', name: 'make', placeholder: 'Civic' },
  { id: 2, title: 'Year *', name: 'year', placeholder: '2019' },
  { id: 3, title: 'Miles *', name: 'miles', placeholder: '10000' },
  { id: 4, title: 'City *', name: 'city', placeholder: 'Vienna, Austria' },
  { id: 5, title: 'Seats *', name: 'seats', placeholder: '5' },
  {
    id: 6,
    title: 'Features *',
    name: 'features',
    placeholder: 'Leather interios, no accidents',
  },
];
</script>

<style scoped></style>
