<template>
  <div class="card text-center">
    <img :src="product.image" alt="Product image" class="thumbnail" />
    <p class="font-bold text-gray-500 m-4 truncate">{{ product.title }}</p>
    <NuxtLink :to="`/products/${product.id}`">
      <p class="btn my-4">Product details</p>
    </NuxtLink>
  </div>
</template>

<script setup>
const { product } = defineProps(['product']);
</script>

<style scoped>
.thumbnail {
  max-height: 120px;
  max-width: 70%;
  margin: 0 auto;
}
</style>
