<template>
  <div class="even:bg-gray-100 p-4">
    <h1 class="font-bold text-2xl">Sara Harka</h1>
    <p class="text-gray-700">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
      architecto quae magni eius ipsam quasi laboriosam inventore sunt dicta
      reiciendis perferendis eos unde natus, eligendi fugit praesentium error
      harum ipsum!
    </p>
    <div class="flex items-center mt-4">
      <p class="text-green-700 mr-10">sara@email.com</p>
      <p class="text-blue-500">+43 123 4567 8987</p>
    </div>
  </div>
</template>

<script setup></script>

<style scoped></style>
