<template>
  <div class="shadow border w-64 mr-10 z-30 h-[190px]">
    <!-- Location start -->
    <div class="p-5 flex justify-between relative cursor-pointer border-b">
      <h3>Location</h3>
      <h3 class="text-blue-400 capitalize" @click="updateModal('location')">
        {{ route.params.city }}
      </h3>
      <div
        v-if="modal.location"
        class="absolute border shadow left-56 p-5 top-1 -m-1 bg-white"
      >
        <input
          type="text"
          class="border p-1 rounded"
          v-model="city"
          @keyup.enter="onChangeLocation"
        />
        <button
          class="bg-blue-400 w-full mt-2 rounded text-white p-1"
          @click="onChangeLocation"
        >
          Apply
        </button>
      </div>
    </div>

    <!-- Location end -->

    <!-- Make start -->

    <div class="p-5 flex justify-between relative cursor-pointer border-b">
      <h3>Make</h3>
      <h3 class="text-blue-400 capitalize" @click="updateModal('make')">
        {{ route.params.make || 'All' }}
      </h3>
      <div
        class="absolute border shadow left-56 p-5 top-1 -m-1 w-[600px] flex justify-between flex-wrap bg-white"
        v-if="modal.make"
      >
        <h4
          v-for="make in makes"
          :key="make"
          class="w-1/3"
          @click="onChangeMake(make)"
        >
          {{ make }}
        </h4>
      </div>
    </div>

    <!-- Make end -->

    <!-- Price start -->

    <div class="p-5 flex justify-between relative cursor-pointer border-b">
      <h3>Price</h3>
      <h3 class="text-blue-400 capitalize" @click="updateModal('price')">
        {{ priceRangeText }}
      </h3>
      <div
        class="absolute border shadow left-56 p-5 top-1 -m-1 bg-white"
        v-if="modal.price"
      >
        <input
          type="number"
          placeholder="Min"
          v-model="priceRange.min"
          class="border p-1 rounded"
        />
        <input
          type="number"
          placeholder="Max"
          v-model="priceRange.max"
          class="border p-1 rounded"
        />
        <button
          class="bg-blue-400 w-full mt-2 rounded text-white p-1"
          @click="onChangePrice"
        >
          Apply
        </button>
      </div>
    </div>

    <!-- Price end -->
  </div>
</template>

<script setup>
const { makes } = useCars();
const modal = ref({
  make: false,
  location: false,
  price: false,
});

const city = ref('');
const priceRange = ref({
  min: '',
  max: '',
});
const route = useRoute();
const router = useRouter();

const priceRangeText = computed(() => {
  const minPrice = route.query.minPrice;
  const maxPrice = route.query.maxPrice;
  if (!minPrice || !maxPrice) return 'Any';
  else if (!minPrice && maxPrice) return `< $${maxPrice}`;
  else if (minPrice && !maxPrice) return `> $${minPrice}`;
  else return `$${minPrice} - $${maxPrice}`;
});

const updateModal = key => (modal.value[key] = !modal.value[key]);

const onChangeLocation = () => {
  if (!city.value) return;
  if (!isNaN(parseInt(city.value))) {
    throw createError({
      statusCode: 400,
      message: 'Invalid city name!',
    });
  }
  updateModal('location');
  navigateTo(`/city/${city.value}/car/${route.params.make}`);
  city.value = '';
};

const onChangeMake = make => {
  updateModal('make');
  navigateTo(`/city/${route.params.city}/car/${make}`);
};

const onChangePrice = make => {
  updateModal('price');
  if (
    priceRange.value.min &&
    priceRange.value.max &&
    priceRange.value.min > priceRange.value.max
  ) {
    return;
  }
  router.push({
    query: {
      minPrice: priceRange.value.min,
      maxPrice: priceRange.value.max,
    },
  });
};
</script>
