<template>
  <header class="shadow-sm bg-white">
    <nav class="container mx-auto p-4 flex justify-between">
      <NuxtLink to="/" class="font-bold">Fake Webstore</NuxtLink>
      <ul class="flex gap-4">
        <li>
          <NuxtLink to="/">Home</NuxtLink>
        </li>
        <li><NuxtLink to="/about">About</NuxtLink></li>
        <li>
          <NuxtLink to="/products" class="btn">Products</NuxtLink>
        </li>
      </ul>
    </nav>
  </header>
  <div class="mt-7 max-w-sm mx-auto text-center card">
    <p class="mt-7 text-7xl-font-bold">
      {{ error.statusCode }}
    </p>
    <p class="mt-7 text-6xl-font-bold">Ooops.</p>
    <p class="mt-7">{{ error.message }}</p>
    <button class="btn my-7" @click="handleClearError">Home Page</button>
  </div>
</template>

<script setup>
definePageMeta({
  layout: 'products',
});

defineProps(['error']);

const handleClearError = () => clearError({ redirect: '/' });
</script>

<style scoped></style>
