<script setup>
const user = useUser()
definePageMeta({
  layout: 'plain',
})
</script>

<template>
  <form @submit.prevent="user.login">
    <h1>Login</h1>
    <label for="username">Username</label>
    <br />
    <input type="text" id="username" />
    <br />
    <label for="password">Password</label>
    <br />
    <input type="password" id="password" />
    <br />
    <button>Login</button>
  </form>
</template>
