<script setup>
definePageMeta({
  layout: 'plain',
})
</script>

<template>
  <NuxtPicture
    src="/cat.jpg"
    sizes="xs:100vw sm:50vw md:1860px"
    format="avif"
  />

  <!-- Find out about responsive art direction! -->
</template>

<style scoped>
:deep(img) {
  display: block;
  max-width: 100%;
}
</style>
