<template>
  <div>
    <CarCards v-if="cars.length" :cars="cars" />
    <p v-else class="text-red-600">No cars found with these filters.</p>
  </div>
</template>

<script setup>
const route = useRoute();
const { data: cars } = await useFetchCars(route.params.city, {
  minPrice: route.query.minPrice,
  maxPrice: route.query.maxPrice,
  make: route.params.make,
});

watch(
  () => route.query,
  () => window.location.reload(true)
);
</script>
