<template>
  <div>
    <h1>Product details for {{ id }}</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
      consectetur blanditiis beatae error ad nihil facilis nostrum nesciunt ea,
      ipsa esse obcaecati vel odio vero nisi ducimus provident quibusdam
      voluptatibus laborum consequatur? Aperiam culpa sit, officia ipsa ducimus
      perspiciatis reprehenderit magni maxime, ex tempora dolores enim
      recusandae nemo consectetur provident.
    </p>
  </div>
</template>

<script setup>
const { id } = useRoute().params;

// definePageMeta({
//   layout: "products",
// });
</script>
