<script setup>
const route = useRoute()
// const { data } = useAsyncData(
//   `/movies/${route.params.id}`,
//   () => {
//     return $fetch(
//       `https://www.omdbapi.com/?apikey=1f5aa47b&i=${route.params.id}`
//     )
//   },
//   {
//     pick: ['Title', 'Plot'],
//     // transform(data) {
//     //   return {
//     //     Plot: data.Plot,
//     //     Title: data.Title,
//     //   }
//     //   return data.Title
//     // },
//   }
// )
const { data, error } = await useFetch(
  `https://www.omdbapi.com/?apikey=1f5aa47b&i=${route.params.id}`,
  // `https://httpbin.org/status/500`,
  {
    pick: ['Title', 'Plot', 'Poster', 'Error'],
    key: `/movies/${route.params.id}`,
    // onResponse({ request, response }) {
    //   if (response._data.Error === 'Incorrect IMDb ID.') {
    //     showError({ statusCode: 404, statusMessage: 'Movie not found!' })
    //   }
    // },
    // onResponseError() {
    //   showError({ statusCode: 500, statusMessage: 'Server error!' })
    // },
  }
)

if (error.value) {
  showError({ statusCode: 500, statusMessage: 'Server error!' })
}

if (data.value.Error === 'Incorrect IMDb ID.') {
  showError({ statusCode: 404, statusMessage: 'Movie not found!' })
}

useHead({
  title: data.value.Title,
  meta: [
    { name: 'description', content: data.value.Plot },
    { property: 'og:description', content: data.value.Plot },
    { property: 'og:image', content: data.value.Poster },
    { name: 'twitter:card', content: 'summary_large_image' },
  ],
})
</script>

<template>
  <pre>
      {{ data }}
    </pre
  >
</template>
