<template>
  <br />
  <div>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5"
    >
      <div v-for="product in products">
        <ProductCard :product="product" />
      </div>
    </div>
  </div>
</template>

<script setup>
definePageMeta({
  layout: 'products',
});

const { data: products } = await useFetch('https://fakestoreapi.com/products');

useHead({
  title: 'Products | Fake Webstore',
  meta: [{ name: 'description', content: 'Products of a fake webstore.' }],
});
</script>

<style scoped></style>
