<template>
  <div>
    <header>
      <nav>
        <NuxtLink to="/products">Products</NuxtLink>
      </nav>
    </header>

    <footer>
      <ul>
        <li>
          <NuxtLink to="/">Home</NuxtLink>
        </li>
        <li><NuxtLink to="/about">About</NuxtLink></li>
        <li>
          <NuxtLink to="/products">Products</NuxtLink>
        </li>
      </ul>
    </footer>
    <div>
      <slot />
    </div>
  </div>
</template>

<script setup>
definePageMeta({
  layout: "products",
});
</script>

<style scoped>
.router-link-axact-active {
  color: #080;
}
</style>
