<template>
  <div>
    <h1>About</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, sed
      numquam in nesciunt veritatis incidunt culpa optio eos debitis nemo!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus hic culpa
      a. Dolorem voluptatem officia optio quasi repellat voluptate, totam rerum
      hic ut vel! Porro dignissimos deserunt modi rerum mollitia.
    </p>
    <p>GBP value: {{ data.GBP.value }}</p>
  </div>
</template>

<script setup>
const { data } = await useFetch('/api/currency/GBP');
</script>

<style scoped></style>
